/target
/android/.gradle
/android/.idea
/android/app/build
/android/build
/android/local.properties
/android/**/*.iml
/android/.externalNativeBuild
/android/.cxx

# Signing
*.jks
*.keystore
keystore.properties

#Ignore vscode AI rules
.github/instructions/codacy.instructions.md

.vscode/
.codacy/
